//VARIABLES BECAUSE CSS PREPROCESSORS ARE COOL
$gray: #555;
$yellow: #f2e968;
$white: #efefef;

//GET THE GOOGLE FONT SPECIMEN
@import url(https://fonts.googleapis.com/css?family=Rubik);

body,
html {
  color: #fff;
  text-align: center;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

/*
.grid-container {
  background: #fff;
  font-family: 'Rubik', sans-serif;
}



  .grid-item {
    color: #fff;
    background: skyblue;
    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 700;
  }
  
  .header {
    background-color: darken(skyblue, 60%);
    grid-area: header;
    padding: 1em;
  }
  
  .title {
    color: $gray;
    background-color: lighten(skyblue, 25%);
    grid-area: title;
  } 

  .footer {
    background-color: darken(skyblue, 10%);
    grid-area: footer;
    padding: 0.6em;
  }


*/

  .main {
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  

  .items {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .item {
    display: inline-block;
    min-height: 250px;
    min-width: 400px;
    margin: 2em 0.5em;
    }

img {
  height: 500px;
  width: auto;
}

body {
  background-color: #00616C;
}