body {
	background-color: #E7EFF0;
	font-family: "Adobe Garamond Pro", serif;
}

img {
	height: 100px;
}

p {
	margin: 5px 1px 0px 0px;
	padding-left: 7px;
}

/*
b {
	padding-left: 10px;
}
*/

em {
	padding-left: 10px;
}

.container {
	margin-left: 50px;
 }	


.item {
	background-color: #DCDDDE;
	display: flex;
	height: 100px;
	width: 1400px;
	margin: 10px 200px;
	overflow: hidden;
	position: relative;
}

.eventTitle {
	font-size: 30px;	
}

.date {
	font-size: 32px;
	font-style: normal;
}

.time {
	font-size: 32px;
}

.location {
	font-size: 32px;

}

.description {
	font-size: x-large;
	width: 550px;
	
	right:0;
}

.buttons {
	margin: 5px 750px;
	display: flex;
}

button {
	border: none;
	background-color: #E7EFF0;
}

.arrow {
	height: 30px;
	width: auto;
	padding: 15px;
}


.basics{
	margin: 5px;
}

.highlighted {
	background-color: #ffffff;
	height: 150px;
	width: 1500px;
	margin: 0px 150px;
}

.highlighted img {
	height: 150px;
	width: auto;
}

.highlighted .description {
	display: block;
	max-width: 650px;
	
}

.highlighted .eventTitle {
	font-size: 245%;
	
}

#describe{
	position: absolute;
	right:0;
	
}

.highlighted .date::before{
	content: "\A";
	white-space: pre;
}

.highlighted .location::before{
	content: "\A";
	white-space:pre;
}

.normal .card {
	background-color: #DCDDDE;
	height: 100px;
	width: 1400px;
	margin: 20px 200px;
}

.normal img {
	height: 100px;
	width: auto;
}

.normal .description {
	display: none;
}




