body {
	background-color: #00616C;
	overflow-x: hidden;	
}

.card{
	height: 500px;
	width: auto;
    padding: 20px;
	transition: all .5s linear;
	
}

#slider{
	margin-top: 50px;
	
	height: 800px;
}



